{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

<h3>CONTACTO ADMINISTRADORES</h3>

<h4>TODO SERIES es un portal que está creado por: </h4>

<li>Fernando Dalla Rosa: dallarosafernando@gmail.com
<li>Fernando Masnú: fernandomasnujury@gmail.com
<li>Federico Poliseno: federicopoliseno@yahoo.com.ar

<h4>Es un portal dedicado a las series y películas</h4>

<a href="{% url 'home' %}"class="btn btn-primary">Volver a home</a>
<div>
<div>

{%endblock%}