{% extends "base.html" %}
{% block content %}
<a href="{% url 'home' %}"class="btn btn-primary">Volver a home</a>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{object.titulo}}</h2>
                    <p class="card-text text-muted h6">{{object.autor}} | {{object.fecha_creacion}} </p>
                    <p class="card-text">{{object.cuerpo}}</p>
                </div>
            </div>
</div>
</div>
</div>
</div>
{%endblock%}
